/*
======      DESKTOP VIEW      ========
*/


/*
================
  Why BDD
================
*/

.aboutus-hero {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
}


.why-section-container {
  margin: 10% 0 ;
}

.title-hit {
  font-size: 3em;
}

.text-container-why {
  border-top: solid 1px black;
  padding-top: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.container-why {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
}


.circle-blue {
  padding: .5% 2.5% 5% 2.5%;
}

.circle-green {
  padding: .3% 2.5% 5% 2.5%;
  margin: auto;
}

.container-why {

}

/*
======      MOBILE VIEW      ========
*/

@media screen and (max-width: 500px) {

  .title-hit {
    font-size: 2em;
    text-align: center;
  }

  .circle-blue {
    padding: 0 7.3% 15% 7.3%;
  }

  .circle-green {
    padding: 0 7.3% 15% 7%;
  }



}


/*
======      SMALL TABLET  VIEW      ========
*/

@media screen and (max-width: 600px) and (min-width: 501px) {

  .circle-blue {
    padding: .1% 6% 12% 6%;
  }

  .circle-green {
    padding: .2% 6.1% 11.5% 5.9%;
    margin: auto;
  }


  .title-green {
    text-align: center;
  }

}


/*
======      IPAD  VIEW      ========
*/

@media screen and (max-width: 779px) and (min-width: 601px) {

  .why-section-container span {
    font-size: 1.2em;
  }

  .title-green {
    text-align: center;
  }

  .circle-blue {
    padding: .1% 4% 8% 4%;
  }

  .circle-green {
    padding: .2% 4% 8% 3.9%;
    margin: auto;
  }

}

/*
======      IPAD  VIEW      ========
*/

@media screen and (max-width: 979px) and (min-width: 780px) {

  .circle-blue {
    padding: .1% 3.9% 8% 3.9%;
  }

  .circle-green {
    padding: .2% 4% 8% 3.9%;
    margin: auto;
  }


}



/*
======      IPAD PRO VIEW      ========
*/

@media screen and (max-width: 1031px) and (min-width: 980px) {

  .circle-blue {
    padding: .1% 2.9% 6% 2.9%;
  }

  .circle-green {
    padding: .2% 3% 6% 2.9%;
    margin: auto;
  }

}


/*
======     DESKTOP VIEW      ========
*/

@media screen and (max-width: 1204px) and (min-width: 1032px) {

  .circle-blue {
    padding: .1% 2.9% 6% 2.9%;
  }

  .circle-green {
    padding: .2% 3% 6% 2.9%;
    margin: auto;
  }

}



/*
======      LARGE DESKTOP VIEW      ========
*/

@media screen and (min-width: 1205px) {

  .text-container-why {
    width: 60%;
  }

  .circle-blue {
    padding: .1% 3.45% 7% 3.45%;
  }

  .circle-green {
    padding: .2% 3.6% 7% 3.5%;
    margin: auto;
  }

}



/*
================
  Scroll Partners
================
*/


.main-scroll {
  margin: 10% auto;
}

.container-scroll {}

.slider-partners {
  padding: 6%;
}

.title-gray {}

.button-scroll-green {}


/*
======      MOBILE VIEW      ========
*/

@media screen and (max-width: 500px) {

  .title-gray {
    font-size: 2em;
  }

  .main-scroll {
    margin: 50% auto;
    padding: auto 10%;
  }

}


/*
======      IPAD VIEW      ========
*/

@media screen and (max-width: 800px) and (min-width: 501px) {

  .title-gray {
    font-size: 2em;
  }

  .main-scroll {
    margin: 30% auto;
  }


}

/*
================
  Hit
================
*/

.container-hit {
  margin: 10% 0;
}

.mobile-hit-icon {
  display: none;
}

.number-hit {
  position: absolute;
  width: 25%;
  left: 15%;
  opacity: .071;
}

.hit-right {
  left:60% !important;
}

.hit-icons {
  width: 20%;
}

/*
======      MOBILE VIEW      ========
*/

@media screen and (max-width: 500px) {
  .container-hit {
    flex-direction: column;
  }


  .mobile-hit-icon {
    display: block;
    margin: 5% auto;
    width: 35%;
  }
  .desktop-hit-icon {
    display: none;
  }

  .mt-5 .mr-5 {
    margin-right: auto !important;
  }

  .number-hit {
    width: 35%;
    margin-top: 30%;
    opacity: .08;
  }


}




/*
======      MOBILE VIEW      ========
*/

@media screen and (max-width: 770px) and (minn-width: 601px) {


  .title-hit {
    text-align: center;
  }


}



/*
======      DESKTOP LARGE VIEW      ========
*/

@media screen and (min-width: 1200px) {


  .number-hit {
    width: 20% !important;
  }

  .title-hit {
    text-align: center;
  }


}


/*
================
  Testimonial Carousel
================
 */
 .react-multi-carousel-list {
   width: 100%;
   text-align: center;
   align-items: normal !important;
 }

 .react-multi-carousel-item {
   width: 1300px;
   margin: 0 auto;
 }

 .testi-spacer {
   margin: 5% 0;
 }

.testi-section {
  margin: 0;
  text-align: center;
  width: 500px;
  padding: 0 6%;
}

.testi-section > * {
  margin: 2%;
}

.testi-section > img {
  width: 50%;
  border-radius: 50%;
  object-fit: contain;
}


.testi-section > div img:first-child {
  text-align: center;
  margin-left: 31%;
}

.react-multiple-carousel__arrow {
  top: 30% !important;
}


/*
======      MOBILE VIEW      ========
*/


@media screen and (max-width: 500px) {

  .react-multi-carousel-item {
    width: 100% !important;
  }

  .testi-section {
    margin: 0 -20%;
    text-align: center;
    width: 350px;
    padding: 0 8%;
  }

  .testi-section > div img:first-child {
    text-align: center;
    margin-left: 23%;
  }


}

/*
======      MOBILE VIEW      ========
*/

@media screen and (max-width: 600px) and (min-width: 501px) {

  .react-multi-carousel-item {
    width: 100% !important;
    margin: 0 40px;
  }

  .testi-section {
    width: 320px;
    margin-left: 0;
    padding: 0 2%;
  }

  .testi-section > div img:first-child {
    text-align: center;
    margin-left: 23%;
  }



}


/*
======      IPAD Standard VIEW      ========
*/

@media screen and (max-width: 800px) and (min-width: 601px) {

  .react-multi-carousel-item {
    margin: 0 40px;
  }


  .testi-section {
    width: 320px;
    margin-left: 0;
    padding: 0 2%;
  }

  .testi-section > div img:first-child {
    text-align: center;
    margin-left: 23%;
  }


}


/*
======      DESKTOP LARGE VIEW      ========
*/

@media screen and (max-width: 1400px) and (min-width: 1200px) {

  .react-multi-carousel-item {
    margin: 0;
  }

}


/*
================
  Feel Boxed
================
*/


.button-feel {
    border: 1px #fff solid;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    border-radius: 8px;
    width: 175px;
    height: 75px;
    transition: background .5s;
}

.button-feel:hover  {
  background-color: #96BA27;
}


/*
======      MOBILE VIEW      ========
*/

@media screen and (max-width: 500px) {


  .feelSection {
    height: 100%;
  }

  .title-feel {
    padding: 2% !important;

  }


  .color-feel-boxed {
      background-color: #418CFA4A;
      width: 100%;
      height: 100% !important;
    }

}


/*
======      SMALL TABLET VIEW      ========
*/

@media screen and (max-width: 650px) and (min-width: 501px) {

      .feelSection {
        height: 100%;
      }

      .color-feel-boxed {
        background-color: #418CFA4A;
        width: 100%;
        height: 100% !important;
        margin-top: 0% !important;
      }

      .title-feel {
        padding: 0 20px !important;
      }

}

/*
======      SMALL TABLET VIEW      ========
*/

@media screen and (max-width: 766px) and (min-width: 651px) {

    .title-feel {
        padding: 0 20px !important;
      }
}



/*
======      IPAD VIEW      ========
*/

@media screen and (max-width: 1030px) and (min-width: 651px) {

  .color-feel-boxed {
      height: 112%;
      margin-top: 4%;
    }

}



/*
======      LARGE DESKTOP VIEW      ========
*/

@media screen and (min-width: 1200px) {

  .color-feel-boxed {
      height: 112%;
      margin-top: 2%;
    }

}
