/*
================
  Carousel
================
 */

.carousel-group-container {
    display: flex;
    width: 100%;
    height: 340px;
    background-color: white;
}

.carousel-container {
    width: 50%;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}


/*
  ======      MOBILE VIEW      ========
  */

@media screen and (max-width: 375px) {
    /* Home Carousel */
    .slider-wrapper {
        padding: 4%;
    }
    .title-header,
    .subtitle-header,
    .description-header,
    .button-header {
        padding: 2%;
    }
    .subtitle-header {
        font-size: 2em;
    }
    .button-header {
        margin: 2%;
    }
    .main-home-section-title {
        padding: 4%;
        text-align: center;
    }
    .button-card-blue,
    .button-card-green {
        width: 100%;
    }
}


/*
  ======      IPAD VIEW      ========
  */

@media (max-width: 920px) and (min-width: 376px) {
    .carousel-container {
        width: 50%;
        display: flex;
    }
    .carousel-container h2 {
        font-size: 3em;
    }
    .carousel-container h3 {
        font-size: 2em;
    }
    .carousel-img {
        margin-left: 5%;
    }
}


/*
================
  Star Section
================
 */

.star-pride-container {
    text-align: center;
    font-size: 1.3em;
    line-height: 2.5em;
    margin-top: 5%;
    padding: 3%;
}

.text-green {
    color: #96BA27;
}

.text-blue {
    color: #003366;
    text-decoration: underline;
}


/*
======      MOBILE VIEW      ========
*/

@media (max-width: 500px) and (min-width: 200px) {
    .stars-aligned {
        flex-direction: column !important;
        margin: 5% 0;
    }
    /* Cards */
    .cards-home {
        flex-direction: column;
        position: relative;
        margin: 180% 0 0 0;
    }
    .offerSection {
        display: none !important;
    }
    .card-home {
        width: 100%;
    }
}


/*
======      IPAD VIEW      ========
*/

@media (max-width: 920px) and (min-width: 376px) {
    .stars-aligned {
        flex-direction: column !important;
    }
}


/*
================
  Banner Email
================
 */

.info-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search-input {
    width: 300px!important;
}

.banner-email {
    padding: 3%;
    flex-direction: column;
    height: auto;
    text-align: center;
}


/*
======      MOBILE VIEW      ========
*/

@media screen and (max-width: 375px) {
    .banner-email {
        text-align: center!important;
        display: flex;
        flex-direction: column!important;
        padding: 3%;
        height: auto;
    }
    .info-banner {
        display: flex;
        justify-content: space-around;
        flex-direction: column!important;
    }
    .info-banner input,
    .info-banner button {
        margin: auto;
    }
}


/*
======      IPAD VIEW      ========
*/

@media screen and (max-width: 920px) {
    .info-banner {
        flex-direction: column;
    }
    .info-banner input {
        margin: 5% auto;
    }
    .info-banner button {
        margin: 5% auto;
    }
}


/*
================
  Cards Home
================
 */

.description-card {
    text-align: center;
}


/*
======      IPAD VIEW      ========
*/

@media (max-width: 920px) and (min-width: 376px) {
    .card-home {
        width: auto;
    }
}


/*
================
  Commitment
================
 */


/*
 ======      MOBILE VIEW      ========
 */

@media (max-width: 500px) {
    .cards-content {
        flex-direction: column;
    }
    .card-commitment {
        width: 70%;
        text-align: center;
    }
    .card-commitment {
        margin: 8%;
    }
}


/*
================
  Footers
================
*/

@media (max-width: 500px) and (min-width: 200px) {
    .footer-column-content {
        flex-direction: column;
        height: auto;
        width: 80%;
        margin: 3% 0;
        padding: auto;
    }
    .footer-column:first-child,
    .footer-column:last-child {
        text-align: left;
        margin-right: 80px;
    }
}


/*
================
  Placeholder
================
 */


/*
 ================
  Placeholder
 ================
  */