/*
======      DESKTOP VIEW      ========
*/

/*
================
  Container
================
*/

.container-products {
  margin-bottom: 10%;
}


/*
================
  Product Card
================
*/

.card-product {
  margin: 5% 1%;
  justify-content: space-between;
  box-shadow: 1px 2px 5px 5px lightgray;
  padding: 5% 0;
  height: 30%;
}

.card-product-no-banner {
  height: 25% !important;
}


.product-price-section {
  width: 100%;
  text-align: center;
  color: #96BA27;
}

.product-price-section p {
  font-size: 1.3em;
}


.product-price-section h4 {
  font-weight: bold;
  font-size: 1.3em;
  color: black;
}



/*
======      MOBILE VIEW      ========
*/

@media screen and (max-width: 600px) {

  .side-products {
    display: none;
  }

  .cards-products {
    margin: auto;
    width: 100%;
  }

  .card-product {
    margin: 5% auto;
    padding: 5%;
    height: 10%;
  }


}

/*
======      IPAD VIEW      ========
*/

@media screen and (max-width: 800px) and (min-width: 601px) {

    .side-products {
      display: none;
    }

    .cards-products {
      margin: auto;
      width: 100%;
      flex-direction: row;
    }

    .card-product {
      margin: 5% auto;
      padding: 5%;
      height: 10%;
      width: 43%;
    }

    .card-product a img {
      width: 100%;
    }


}


/*
======      DESKTOP VIEW      ========
*/

@media screen and (max-width: 1400px) and (min-width: 801px) {

  .side-products {
    display: none;
  }

  .card-product {
    height: 40%;
  }

  .card-product a img {
    width: 100%;
  }


}


/*
======      DESKTOP VIEW CONT      ========
*/

@media screen and (max-width: 1500px) and (min-width: 1401px) {

  .side-products {
    display: none !important;
  }

  .cards-products {
    width: 100%;
  }

  .card-product {
    height: 70%;
  }

  .card-product a img {
    width: 100%;
  }


}




/*
======      temp LARGE DESKTOP VIEW      ========
*/

@media screen and (max-width:1600px) and (min-width: 1501px) {

    .side-products {
      display: none !important;
    }

    .cards-products {
      width: 100%;
    }

    .card-product {
      height: 66%;
    }

}



/*
======      temp LARGE DESKTOP VIEW      ========
*/

@media screen and (min-width: 1601px) {

    .side-products {
      display: none;
    }

    .cards-products {
      width: 100%;
    }

    .card-product {
      height: 68%;
    }

}
